@charset "UTF-8";
@font-face {
  font-family: 'SF Fourche Condensed';
  /*a name to be used later*/
  src: url(/Layout/fonts/sffourchecondensed.ttf);
  /*URL to font*/
}

body {
  width: 100% !important;
  height: 100% !important;
  background-color: #1E2022 !important;
  font-family: 'Slabo 27px', serif;
  color: #f0f5f9;
}

#socials #facebook, #socials #instagram {
  list-style: none !important;
  color: #f0f5f9 !important;
}

#socials #facebook:hover, #socials #instagram:hover {
  color: #52616a !important;
  -webkit-transition: ease-in 0.1s !important;
  transition: ease-in 0.1s !important;
}

#header {
  font-family: 'Slabo 27px', serif;
  letter-spacing: 1px;
  height: 120px !important;
}

#header #logo {
  width: 400px !important;
  height: 55px !important;
}

#header p {
  color: #f0f5f9 !important;
}

nav {
  background-color: rgba(0, 0, 0, 0.534) !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

nav .nav-item a {
  color: #f0f5f9;
  list-style: none;
  padding-right: 25px !important;
  position: relative;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Slabo 27px', serif;
  letter-spacing: 2px !important;
}

nav .nav-item a:hover {
  color: #52616a !important;
}

nav .dropdown-menu {
  color: #f0f5f9 !important;
  border-radius: 0 !important;
  background-color: #0E0F10 !important;
  text-align: center !important;
  position: static !important;
  float: none !important;
  margin-left: 25% !important;
}

nav .dropdown-menu .dropdown-item {
  color: #f0f5f9 !important;
}

nav .dropdown-menu .dropdown-item:hover {
  color: #52616a !important;
  background-color: transparent !important;
}

nav .animated-icon1 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

nav .animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

nav .animated-icon1 span {
  background-color: #f0f5f9 !important;
  height: 1px !important;
}

nav .animated-icon1 span:nth-child(1) {
  top: 0px;
}

nav .animated-icon1 span:nth-child(2) {
  top: 10px;
}

nav .animated-icon1 span:nth-child(3) {
  top: 20px;
}

nav .animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

nav .animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

nav .animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#landing {
  max-height: 300px !important;
  font-family: 'Slabo 27px', serif !important;
}

#landing #img_carousel {
  max-height: 300px !important;
}

#landing .carousel-item {
  max-height: 300px !important;
}

#landing .h2-responsive {
  color: #f0f5f9 !important;
  letter-spacing: 5px !important;
  font-size: 40px !important;
  margin-bottom: 2% !important;
  font-weight: bold !important;
}

#landing .carousel-indicators {
  max-height: 300px !important;
}

#mini_gallery {
  background-image: url(/Eksamensprojekt-Lauraella/Layout/images/background.png);
  height: 100% !important;
  width: 100% !important;
  background-repeat: repeat !important;
  background-size: cover;
  background-position: center;
  z-index: -10 !important;
  font-family: 'Slabo 27px', serif !important;
}

#mini_gallery .mask .overlay_tekst {
  color: #f0f5f9 !important;
  font-size: 30px !important;
}

#mini_gallery .link {
  cursor: pointer !important;
}

#mini_gallery .link .nyeVarer p {
  font-size: 30px !important;
}

#footer {
  background-color: rgba(0, 0, 0, 0.534) !important;
  color: #c9d6de !important;
  height: 100% !important;
  font-family: 'Slabo 27px', serif !important;
}

#footer ul {
  list-style: none !important;
}

#footer .footer_link {
  color: #c9d6de !important;
}

#footer .åbningstider_ikon {
  width: 50px !important;
  height: 50px !important;
}

#sortiment {
  background-image: url(/Eksamensprojekt-Lauraella/Layout/images/background.png) !important;
  background-size: cover !important;
  background-position: center !important;
  font-family: 'Slabo 27px', serif !important;
}

#sortiment .btn {
  border-radius: 0 !important;
  background-color: #52616a !important;
  color: #f0f5f9 !important;
  width: 50% !important;
}

#sortiment .deleteIcon {
  position: absolute;
  top: -20px;
  right: -3px;
}

#sortiment .overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#kontakt {
  background-image: url(/Eksamensprojekt-Lauraella/Layout/images/background.png) !important;
  background-size: cover !important;
  background-position: center !important;
  color: #f0f5f9 !important;
  font-family: 'Slabo 27px', serif !important;
}

#kontakt #map {
  height: 500px !important;
  width: 100% !important;
}

#kontakt #kontaktform {
  color: #f0f5f9 !important;
}

#kontakt #kontaktform .form-control {
  border-radius: 0 !important;
  resize: none;
  border: 0 !important;
  background-color: transparent;
  border-bottom: 0.5px solid #f0f5f9 !important;
}

#kontakt #kontaktform input {
  color: #f0f5f9 !important;
}

#kontakt #kontaktform input::-webkit-input-placeholder {
  color: #f0f5f9 !important;
}

#kontakt #kontaktform input:-ms-input-placeholder {
  color: #f0f5f9 !important;
}

#kontakt #kontaktform input::-ms-input-placeholder {
  color: #f0f5f9 !important;
}

#kontakt #kontaktform input::placeholder {
  color: #f0f5f9 !important;
}

#kontakt #kontaktform input:focus {
  outline: none !important;
  -webkit-appearance: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#kontakt #kontaktform textarea {
  color: #f0f5f9 !important;
}

#kontakt #kontaktform textarea::-webkit-input-placeholder {
  color: #f0f5f9 !important;
}

#kontakt #kontaktform textarea:-ms-input-placeholder {
  color: #f0f5f9 !important;
}

#kontakt #kontaktform textarea::-ms-input-placeholder {
  color: #f0f5f9 !important;
}

#kontakt #kontaktform textarea::placeholder {
  color: #f0f5f9 !important;
}

#kontakt #kontaktform textarea:focus {
  outline: none !important;
  -webkit-appearance: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#kontakt #kontaktform .btn {
  border-radius: 0 !important;
  background-color: #52616a !important;
  color: #f0f5f9 !important;
  width: 50% !important;
  font-size: 20px !important;
  padding: 5px !important;
  font-weight: bold !important;
  letter-spacing: 2px !important;
}

#omos {
  background-image: url(/Eksamensprojekt-Lauraella/Layout/images/background.png) !important;
  background-size: cover !important;
  background-position: center !important;
  color: #f0f5f9 !important;
}

#omos .omtekst {
  background-color: rgba(0, 0, 0, 0.534) !important;
  font-family: 'Slabo 27px', serif !important;
}

#omos #om_img2 {
  width: 100% !important;
  height: 100% !important;
}

#bazar {
  height: 200x !important;
  width: 100% !important;
  background-image: url(/Eksamensprojekt-Lauraella/Layout/images/bazar_img.jpg) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  font-family: 'Slabo 27px', serif !important;
}

#bazar #bazar_row {
  background-color: rgba(0, 0, 0, 0.685) !important;
  margin-left: 10% !important;
  margin-right: 10% !important;
  border: 2px solid #52616a !important;
}

#bazar #demo {
  -webkit-transition: ease-in 5s !important;
  transition: ease-in 5s !important;
  font-size: 25px !important;
  font-family: 'Anton', sans-serif;
  letter-spacing: 5px !important;
}

#bazar h1 {
  font-size: 30px !important;
}

#bazar_intro {
  font-family: 'Slabo 27px', serif !important;
}

#bazar_intro h1 {
  font-size: 34px !important;
}

#bazar_intro p {
  font-size: 18px !important;
}

#login {
  background-image: url(/Eksamensprojekt-Lauraella/Layout/images/background.png) !important;
  background-size: cover !important;
  background-position: center !important;
  color: #f0f5f9 !important;
}

#login .underlay {
  background-color: rgba(0, 0, 0, 0.534) !important;
}

#login #form form {
  border: 0 !important;
  border-radius: 0 !important;
}

#login #form input {
  border-radius: 0 !important;
  border: 0 !important;
  height: 55px;
}

#login #form .btn {
  border-radius: 0 !important;
  background-color: #52616a !important;
  color: #f0f5f9 !important;
  width: 50% !important;
}

#upload {
  background-image: url(/Eksamensprojekt-Lauraella/Layout/images/background.png) !important;
  background-size: cover !important;
  background-position: center !important;
  color: #f0f5f9 !important;
}

#upload .omtekst {
  background-color: rgba(0, 0, 0, 0.534) !important;
}

#upload #kontaktform .form-control {
  border-radius: 0 !important;
  resize: none;
  border: 0 !important;
  background-color: transparent;
  border-bottom: 0.5px solid #f0f5f9 !important;
}

#upload #kontaktform input {
  color: #f0f5f9 !important;
}

#upload #kontaktform input::-webkit-input-placeholder {
  color: #f0f5f9 !important;
}

#upload #kontaktform input:-ms-input-placeholder {
  color: #f0f5f9 !important;
}

#upload #kontaktform input::-ms-input-placeholder {
  color: #f0f5f9 !important;
}

#upload #kontaktform input::placeholder {
  color: #f0f5f9 !important;
}

#upload #kontaktform input:focus {
  outline: none !important;
  -webkit-appearance: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#upload #kontaktform .btn {
  border-radius: 0 !important;
  background-color: #52616a !important;
  color: #f0f5f9 !important;
  width: 50% !important;
}

@media (min-width: 768px) {
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 60px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }
  #bazar {
    height: 250px !important;
    width: 100% !important;
  }
  #bazar #demo {
    -webkit-transition: ease-in 5s !important;
    transition: ease-in 5s !important;
    font-size: 40px !important;
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px !important;
  }
  #bazar h1 {
    font-size: 45px !important;
  }
}

@media (min-width: 992px) {
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 95px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }
  #bazar {
    height: 250px !important;
    width: 100% !important;
  }
  #bazar #demo {
    -webkit-transition: ease-in 5s !important;
    transition: ease-in 5s !important;
    font-size: px !important;
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px !important;
  }
  #bazar h1 {
    font-size: 45px !important;
  }
}

@media (min-width: 1200px) {
  .h2-responsive {
    font-size: 100px !important;
  }
  #bazar {
    height: 250px !important;
    width: 100% !important;
  }
  #bazar #demo {
    -webkit-transition: ease-in 5s !important;
    transition: ease-in 5s !important;
    font-size: 40px !important;
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px !important;
  }
  #bazar h1 {
    font-size: 45px !important;
  }
}
/*# sourceMappingURL=style.css.map */